<<<<<<< HEAD
body {
    overflow-x: hidden;
}

@font-face { font-family: font1; src: url('fonts/Aaux Pro Bold Italic.ttf')format('truetype'); } 
@font-face { font-family: font2 ; src: url('fonts/Aaux Pro Bold.ttf')format('truetype'); } 
@font-face { font-family: font3 ; src: url('fonts/Aaux Pro Heavy.ttf')format('truetype'); } 
@font-face { font-family: font4; src: url('fonts/Aaux Pro Light Italic.ttf')format('truetype'); } 
@font-face { font-family: font5 ; src: url('fonts/Aaux Pro Light.ttf')format('truetype'); } 
@font-face { font-family: font6 ; src: url('fonts/Aaux Pro Medium.ttf')format('truetype');} 
@font-face { font-family: font7 ; src: url('fonts/Aaux Pro Regular.ttf')format('truetype'); } 
@font-face { font-family: font8 ; src: url('fonts/Brandon Grotesque Bold.otf')format('opentype'); } 
@font-face { font-family: font9 ; src: url('fonts/Brandon Grotesque Medium.otf')format('opentype');} 
@font-face { font-family: font10 ; src: url('fonts/TradeGothicLTStd-Lightn.otf')format('opentype'); } 

 
/*------------------IMAGES CSS-----------------------*/
.front{ 
	position: absolute !important;
}
 
/*------------------IMAGES CSS-----------------------*/

/*------------------PAGE CSS-----------------------*/
#logoDiv{ 
	height: auto;
	width: 65px;
	padding-top:35px; 
	padding-bottom:55px; 
}

.sidebar { 
	height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 80px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f2f2f2;
    overflow : hidden;
    padding-top: 20px;
	opacity: 0.86; 
}

.sidebar div{ 	 
	display: block;   
}

.navigation-options{
	padding-top:55px;
	padding-left: 15px;
} 
 
.navigation-options ul {
	list-style-type:circle;
	display: inline-block;  
	font-size: 20px; 
}

.navigation-options li { 
	cursor:pointer;	
} 

.navigation-options li:hover { 
	color: #674b3b;
	list-style-type:disc;
}

.activate  { 
	color: #674b3b;
	list-style-type:disc;
}


.social div{ 
	font-size: 12px;
    color: #808080;
	font-family: font10;
	text-transform: uppercase;
    transform: rotate(-90deg); 
}


.topo-content{ 
	top:250; 
	left: 400;
}
 
.row-content{    
	padding-top:180px; 
	left:250;  
} 

.middle-content{  
	left:400;  
	padding-top:50px; 
	display: block;  
	text-align: -webkit-center;
}

.video{ 
	opacity:0.8;
	height:290px;
	background-color:#513530;
}

.white-division {   
	bottom:625;
	width:100%; 
	background-color:#ffffff;
	text-align: -webkit-center;
	padding: 15px 25px;
}

.info-label{
	font-family:font9; 
}

.form-call h3{   
	text-align:center;
	font-family:font8; 
	color:#43231c;
} 

.form-element{
	border-style: outset ;
	border-width: 2px;
	border-color:#f0f1f0;
	display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 17px;
}

.check-text {
	max-width:215px;
 }
 
.check-text label{
	font-weight:normal;
	font-size:10.5px;
 }

button{
	
}

#obs{
    height: 75px;
	resize: none; 
	border-style: outset ;
	border-width: 2px;
	border-color:#f0f1f0;
	display: block;
    width: 100%; 
    padding: 6px 12px;
    font-size: 17px; 
}


/*------------------PAGE CSS-----------------------*/


/*------------------TEXT CSS-----------------------*/
.presentation-text{
	top:200;
	left:350;
}

 #topPresentation h1{   
	font-size: 70px;
	font-family:font9;
	color:#ffce3f;
	 text-shadow: 1px 0.6px #ffce3f;
}

 #topPresentation p{   	 
	text-shadow:  0.4px 0.6px #ffffff;
}
p { 
	font-family:font5; 
	font-size: 17.5px;	
	color:#ffffff; 
}

.bottom { 
	position: absolute;
    bottom: 50px;
    right: -10px;
}


.social {  
	font-size: 15px;  
	color: #808080;
    text-transform: uppercase;
    transform: rotate(-90deg);
	
}

.topo-content span{   
	font-family:font9;
	color:#ffce3f;
	font-size: 30px;
	text-shadow: 2px 2px #000000;
}

.row-content h3{    
	font-size: 30px;
	font-family:font9;
	color:#ffce3f;
	text-shadow: 1px 0.6px #ffce3f;
}

.row-content p{   	
	text-align: justify; 
}
 
.middle-content h3{    
	font-size: 30px;
	font-family:font9;
	color:#ffffff;
	text-shadow: 0.5px #ffffff;
}

  
/*------------------TEXT CSS-----------------------*/

 
@media screen and (max-width: 600px) {

.logo {  
	width: 100%;
	max-height:85%;  
}


.topo-content { 
	top:50;
	left:75;
}

 #topPresentation h1{   
	font-size: 20px;
	font-family:font9;
	color:#ffce3f;
	 text-shadow: 1px 0.6px #ffce3f;
}

 #topPresentation p{   	 
	text-shadow:  0.4px 0.6px #ffffff;
}

.navigation-options li {
	padding-bottom: 0px;
}

.sidebar { 
	width: 65px;
}
 
.sidebar div{
	padding:15px 10px;
	display:block;
}

	 
}


@media screen and (max-width: 1100px) {

.topo-content { 
	top:175;
	left:300;
}
}
 
}


 
=======
body {
    overflow-x: hidden;
}

@font-face { font-family: font1; src: url('fonts/Aaux Pro Bold Italic.ttf')format('truetype'); } 
@font-face { font-family: font2 ; src: url('fonts/Aaux Pro Bold.ttf')format('truetype'); } 
@font-face { font-family: font3 ; src: url('fonts/Aaux Pro Heavy.ttf')format('truetype'); } 
@font-face { font-family: font4; src: url('fonts/Aaux Pro Light Italic.ttf')format('truetype'); } 
@font-face { font-family: font5 ; src: url('fonts/Aaux Pro Light.ttf')format('truetype'); } 
@font-face { font-family: font6 ; src: url('fonts/Aaux Pro Medium.ttf')format('truetype');} 
@font-face { font-family: font7 ; src: url('fonts/Aaux Pro Regular.ttf')format('truetype'); } 
@font-face { font-family: font8 ; src: url('fonts/Brandon Grotesque Bold.otf')format('opentype'); } 
@font-face { font-family: font9 ; src: url('fonts/Brandon Grotesque Medium.otf')format('opentype');} 
@font-face { font-family: font10 ; src: url('fonts/TradeGothicLTStd-Lightn.otf')format('opentype'); } 


/*------------------IMAGES CSS-----------------------*/
.logo {  
	max-width: 100%;
    max-height: 100%;  
}

.fullzised { 
	max-width: 100%;
    max-height: 100%;   
}
/*------------------IMAGES CSS-----------------------*/

/*------------------PAGE CSS-----------------------*/
.sidebar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
	overflow: hidden;
    padding-top: 20px;
	opacity: 0.86;  
}

.sidebar a{ 	
	padding: 55px 10px;
	display: block;   
}
 
.optionsnav { 
	margin: 0;
	padding: 20px;
}

.optionsnav ul {
	list-style-type:circle;
	display: inline-block;  
} 

.optionsnav li { 
	padding: 3px; 
	font-size: 27px;
	cursor:pointer;
}
 .optionsnav li:hover{ 
	color: #674b3b;
	list-style-type:disc;
} 

.social{ 
	text-transform: uppercase;
    transform: rotate(-90deg);
    font-size: 7px;
}

.front{ 
	position: absolute !important;
}
.topo-content{ 
	top:250;
	opacity:0; 
}
 
.row-content{    
	padding-top:180px; 
	left:250;  
} 

.middle-content{  
	left:400;  
	padding-top:50px; 
	display: block;  
	text-align: -webkit-center;
}

.video{ 
	opacity:0.8;
	height:290px;
	background-color:#513530;
}

.white-division{  
	position:bottom;
	width:100%;
	height:55px;
	background-color:#ffffff;
	text-align: -webkit-center;
	padding: 15px 25px;
}
/*------------------PAGE CSS-----------------------*/


/*------------------TEXT CSS-----------------------*/
.topo-content h1{   
	font-size: 70px;
	font-family:font9;
	color:#ffce3f;
	 text-shadow: 1px 0.6px #ffce3f;
}

.topo-content p{   	 
	text-shadow:  0.4px 0.6px #ffffff;
}
p { 
	font-family:font5; 
	font-size: 17.5px;	
	color:#ffffff; 
}
.social p{  
	font-size: 15px;  
}

.topo-content span{   
	font-family:font9;
	color:#ffce3f;
	font-size: 30px;
	text-shadow: 2px 2px #000000;
}

.row-content h3{    
	font-size: 30px;
	font-family:font9;
	color:#ffce3f;
	text-shadow: 1px 0.6px #ffce3f;
}

.row-content p{   	
	text-align: justify; 
}
 
.middle-content h3{    
	font-size: 30px;
	font-family:font9;
	color:#ffffff;
	text-shadow: 0.5px #ffffff;
}

.middle-content p{   
} 
/*------------------TEXT CSS-----------------------*/

 
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
>>>>>>> 47367d82400bb034987c92d7643e469e39276372
